body {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

footer {
  background: url(../img/smartphones.png);
}

#myList {
  display: none;
}

#myLista {
  display: none;
}

#myLista2 {
  display: none;
}

/* estilo de boton */
.primary-button{
  background-color: blue;
  border-radius: 8px;
  border: none;   
  color:white;
  width: 100%;
  /* para cuando pasen el cursor por encima tenga una accion */
  cursor:pointer;
  font-size:var(--md);
  /* para que la letra sea mas gordita */
  font-weight: bold;
  height: 50px;
  }